*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dark-3{
    font-size: 1rem;
    color: #727272;
}
.header{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-parent{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.li-parent{
    display: flex;
    gap: 35px;
}
.nav-parent h2{
    font-size: 2.81rem;
    font-weight: bold;
    color: #131313;
}
.nav-parent .li-parent{
    list-style: none;
}
.nav-parent .li-parent a{
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 500;
    color: #424242;
}
.banner-parent{
    width: 1140px;
    margin: 0 auto;
}
.banners-title-div{
   max-width: 750px;
   text-align: center;
   margin: 0 auto;
   margin-top: 100px;
}
.banner-parent img{
    width: 100%;
}
.banners-title-div h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #131313;
}
.banners-title-div .banner-p{
    margin-bottom: 30px;
}
.banners-title-div .btn{
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 21px 26px;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}

