*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn{
    padding: 20px 26px;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 50px;
    cursor: pointer;
}
.dark-3{
    font-size: 1rem;
    color: #727272;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-parent{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-parent ul{
    display: flex;
    gap: 25px;
}
.nav-parent ul{
    list-style: none;
}
.nav-parent ul a{
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 500;
    color: #424242;
}
.nav-parent h2{
    font-size: 2.81rem;
    font-weight: bold;
    color: #131313;
}
.banner-parent{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}
.banners-title-div{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.banners-title-div h1{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 15px;
}
.banners-title-div .banner-p{
    margin-bottom: 30px;
} 
.img-container img{
    width: 100%;
}
.Quick-container{
    max-width: 1440px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 85px;
}
.img-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.info-container{
    max-width: 535px;
}
.info-container .quick{
    font-size: 2.81rem;
    font-weight: 500;
    color: #727272;
}
.info-container .our{
    font-size: 2.81rem;
    font-weight: bold;
    color: #131313;
}
.info-container .features{
    font-size: 2.81rem;
    font-weight: bold;
    color: #FF900E;
}
.info-container .info-p{
    margin-top: 24px;
    margin-bottom: 30px;
}
.features-love-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 146px;
    margin-top: 130px;
}
.card-container h3{
    font-size: 2.81rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
.card{
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 30px;
    padding: 30px 42px 30px;
    margin-bottom: 20px;
}
.card h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.features-love-container img{
    width: 100%;
}
.features-love-container .Experience{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 45px 42px;
    border: none;
    border-radius: 8px;
    margin-top: -100px;
    margin-left: -100px;
}
.Experience h1{
    font-size: 4rem;
    font-weight: bold;
}
.Experience p{
    font-size: 1.56rem;
    font-weight: 500;
}
.some-facts-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}
.some-facts-container h3{
    font-size: 2.81rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
.some-facts-container .facts-p{
    max-width: 542px;
    margin-bottom: 100px;
}
.facts-card{
    display: flex;
    gap: 124px;
    justify-content: center;
}
.facts-card .child-card{
    border: 1px solid #FF900E;
    padding: 45px 36px 59px 35px;
    border-radius: 8px;
    text-align: center;
}
.child-card h1{
    font-size: 2.81rem;
    font-weight: 600;
    margin-top: 10px;
}
.child-card .card-p{
    margin-top: 5px;
}
.sponsors-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 180px;
}
.info-div{
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}
.info-div h3{
    font-size: 2.81rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
#img-container{
    display: flex;
    margin-top: 50px;
    gap: 154px;
    filter: grayscale(100%);
    margin-bottom: 130px;
}
.copyright-container{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 216px;
}
.copyright{
    max-width: 620px;
    margin: 0 auto;
}
.copyright-p{
    padding-top: 39px;
    padding-bottom: 39px;
    color: #424242;
    text-align: center;
}




@media screen and (max-width: 576px) {
    .nav-parent {
    flex-direction: column;
}
.nav-parent h2 {
    margin-bottom: 20px;
}

.banner-parent {
    margin-top: 50px;
}
.banner-parent h1{
    font-size: 3rem;
}
.img-container img{
    width: 100%;
}
.Quick-container {
   flex-direction: column;
}
.img-parent {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}
.info-container {
    text-align: center;
}
.features-love-container {
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
    gap: 50px;
}
.card-container h3 {
    font-size: 2.20rem;
}
.features-love-container .Experience {
    margin-top:30px;
    margin-left:auto;
}
.some-facts-container {
    margin-top: 50px;
    padding: 10px;
}
.some-facts-container .facts-p {
    margin-bottom: 50px;

}
.facts-card {
   flex-direction: column;
   gap: 50px;
}
.sponsors-container {
    margin-top: 50px;
}
#img-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}


}